@tailwind base;
@tailwind components;
@tailwind utilities;

*,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

.about_me_section {
  background: rgb(3, 2, 42);
  background: linear-gradient(
    0deg,
    rgba(3, 2, 42, 1) 42%,
    rgba(19, 38, 67, 1) 100%
  );
}
