@media (max-width: 431px) {
  .gradient .about_me_section .width-container {
    h1 {
      font-size: 3.5rem;
      line-height: 1.1;
      margin-bottom: 0.5rem;

      span {
        display: block;
        text-transform: capitalize;
      }
    }

    > p {
      font-size: 1rem;
      padding-right: 3rem;
      margin-top: 2rem;
    }

    .grid-media {
      flex-wrap: wrap;
      .github {
        flex: 0 1 30%;
      }

      .linkedin {
        flex: 0 0 30%;
      }

      a:last-child {
        margin-top: 0.3rem;
        flex: 0 0 80%;
      }
    }

    .experience {
      left: 0;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
