@import "./variables.scss";

.experience-section {
  padding-left: 3rem;
  color: white;

  h2 {
    font-size: 2.3rem;
    font-weight: bold;
    margin-bottom: 3rem;
  }
}

.experience-item {
  display: grid;
  grid-template-columns: 8% auto;
  gap: 5px;

  .left {
    .calendar {
      border: 1px solid white;
      border-radius: 100%;
      padding: 0.5rem;
      height: 2.5rem;
      width: 2.5rem;
    }

    img {
      width: 100%;
    }

    .yellow-line {
      background-color: $yellow;
      height: 100%;
      width: 2px;
    }
  }

  h3 {
    font-weight: 600;
    margin-bottom: 0.3vh;
    font-size: 1.5rem;

    .company {
      font-size: 1.2rem;
    }
  }

  h6 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 1.5vh;
  }

  p {
    color: rgb(222, 222, 222);
    font-size: 1.2rem;

    strong {
      color: white;
    }
  }
}

@media (max-width: 431px) {
  .experience-section {
    margin-top: 3rem;
    padding-left: 0;
    padding: 0 2rem;

    h2 {
      margin-bottom: 2rem;
    }

    .experience-item {
      gap: 16px;
    }
  }
}
