@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./variables.scss";

html {
  scroll-behavior: smooth;
  background-color: $background;
}
*,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

#root {
  height: 100vh;
}

.line {
  background-color: white;
  height: 100%;
  width: 0.25vw;
  position: fixed;
  left: 15vw;
}

.gradient {
  background: rgb(3, 2, 42);
  background: linear-gradient(0deg, #030228, rgba(19, 38, 67, 1) 100%);
  flex-direction: column;

  .about_me_section {
    margin: auto;
    max-width: 600px;

    .width-container {
      padding-left: 3rem;
      h1 {
        font-size: 3.4rem;
        font-weight: bold;
        margin-bottom: 0.3vw;

        span {
          color: $green;
        }
      }

      h2 {
        color: $greenLight;
        font-weight: 600;
        font-size: 1.5rem;
        margin-bottom: 1vw;
      }

      > p {
        font-size: 1.4rem;
        .green {
          color: $green;
        }

        .yellow {
          color: $yellow;
        }
      }

      .experience {
        color: $yellow;
        font-size: 1.4rem;
        position: absolute;
        bottom: 1vh;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .social-media-item:hover {
        transform: scale(1.05);
      }
    }
  }
}

.hover:hover {
  cursor: pointer;
}
